/*******************************************/

/* Press */

/************************/

.press {
  text-align: left;
}

.press .atlanticcities,
.press .heise,
.press .t3n,
.press .zdf,
.press .taz,
.press .cnet,
.press .details,
.press .ard,
.press .golem {
  height: 40px;
  margin-bottom: 30px;
}


/* .7895 */

.press .atlanticcities{
  background-image:url('../img/atlanticcities.png');
  background-size: 145px;
  width: 145px;
  height: 60px;
}

.press .heise {
  background-image:url('../img/heise.svg');
  height: 80px;
  width: 150px;
}

.press .t3n {
  background-image:url('../img/t3n.svg');
  width: 150px;
  height: 80px;
}

.press .zdf {
  background-image:url('../img/zdf.svg');
  width: 150px;
  height: 80px;
}

.press .taz {
  background-image:url('../img/taz.svg');
  background-size: 146px;
  width: 146px;
}

.press .cnet {
  background-image:url('../img/cnet.png');
  background-size: 81px;
  width: 81px;
  height: 60px;
}

.press .details {
  background-image:url('../img/details.png');
  background-size: 177px;
  width: 177px;
}

.press .ard {
  background-image:url('../img/ard.svg');
  height: 80px;
  width: 180px;
}

.press .golem {
  background-image:url('../img/golem.svg');
  height: 68px;
  width: 309px;
}



.getinvolved .press div  {
  margin-right: 20px;
  float: left;
}

.press div {
  margin: 20px 0;
}

.press .keynotes {
  margin-top: 50px;
}